    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .container {
        width: 100%;
        min-height: 100vh;
        background:  #f5efb3;
        padding: 10px;
    }
    
    .todolist {
        width: 100%;
        max-width: 500px;
        background-color: #d1baf3;
        margin: 100px auto 20px;
        padding: 40px 30px 70px;
        border-radius: 10px;
        position: relative;
    }
    
    .todolist h1 {
        margin-bottom: 30px;
        font-size: 30px;
        color: #232323;
        display: flex;
        align-items: center;
    }
    
    .todolist h1 img {
        width: 70px;
        margin-left: 10px;
    }
    
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #eaeaea;
        border-radius: 30px;
        padding-left: 10px;
        margin-bottom: 25px;
        border: 2px solid #7f49d7;
    }
    
    input {
        flex: 1;
        border: none;
        outline: none;
        padding: 10px;
        background: transparent;
        font-size: 16px;
    }
    
    #tombol {
        border: none;
        outline: none;
        padding: 10px 20px;
        background: #7f49d7;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
        border-radius: 40px;
        border: 2px solid #7f49d7;
    }
    
    #tombol:hover {
        background: #f5efb3;
        color: #7f49d7;
    }
    
    #listContainer li {
        list-style: none;
        padding: 10px 8px 10px 50px;
        font-size: 17px;
        border-bottom: 1px solid #ccc;
        user-select: none;
        cursor: pointer;
        position: relative;
    }
    
    #listContainer li::before {
        content: "\2610";
        position: absolute;
        font-size: 22px;
        left: 10px;
        bottom: 6px;
    }
    
    #listContainer li.done {
        color: #ecfa99;
        text-decoration: line-through;
    }
    
    #listContainer li.done::before {
        content: "\2611";
        color: #f8f1a6;
    }
    
    #listContainer li span {
        position: absolute;
        right: 0;
        top: 0px;
        color: #f8f1a6;
        width: 40px;
        height: 40px;
        font-size: 22px;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
    }
    
    #listContainer li span:hover {
        background: #f8f1a6;
        color: #7f49d7;
    }

    #taskCount {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    background: #7f49d7;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

